{% extends "universe.html" %}
{% block content %}
{% if errors %}
<ul>
{% for error in errors %}
<li><font color=red>{{ error }}</font>
{% endfor %}
</ul>
{% endif %}
<form method="post">
Username: <input name="username" type="text"/>
<select name="domainid">
{% for domain in domains %}
<option value="{{domain.id}}">{{domain.name}}</option>
{%endfor%}
</select>
<br/>
Password: <input name="password" type="password"/><br/>
Repeat Passowrd: <input name="password2" type="password"/><br/>
<input type="submit" value="Submit">
</form>
{% endblock %}